<a href="https://colab.research.google.com/github/mdrakibal-amin/Python_programmingbaiclevel/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Control flow in Python (If else Condition)***

In [ ]:
m = int(input())
n = int(input())
if m>n:
   print(m)
   print("I am inside if condition")
print("I am outside the if condition")

20
24
I am outside the if condition

In [ ]:
m = int(input())
n = int(input())
if m>n:
   print(m)
   print("I am inside if condition")
print("I am outside the if condition")

13
8
13
I am inside if condition
I am outside the if condition

In [ ]:
k = int(input())
l = int(input())
if k>l:
  print(k)
if l>k:
  print(l)

7
9
9

In [ ]:
k = int(input())
l = int(input())
if k>l:
  print(k)
if l>k:
  print(l)

12
4
12

In [ ]:
d = int(input())
e = int(input())
if d>e:
  print(" d is greater than e")
else:
  print(" e is greater than d")

99
77
 d is greater than e

In [ ]:
d = int(input())
e = int(input())
if d>e:
  print(" d is greater than e")
else:
  print(" e is greater than d")

5
12
 e is greater than d

In [ ]:
d = int(input())
e = int(input())
if d>e:
  print(d)
  print("if part")
else:
  print(e)
  print(" else part")

5
10
10
 else part

In [ ]:
d = int(input())
e = int(input())
if d>e:
  print(d)
  print("if part")
else:
  print(e)
  print(" else part")

17
6
17
if part

In [ ]:
d = int(input())
e = int(input())
if d>e:
  print(d)
  print("if part")
else:
  print(e)
  print(" else part")

19
19
19
 else part

In [ ]:
s = float(input("Enter your first number: "))
t = float(input("Enter your second number: "))
if s>t:
  print("s is greater than t")
elif s==t:
  print("s and t are equal")
else:
  print("t is greater than s")

Enter your first number: 56.00987
Enter your second number: 34.567
s is greater than t

In [ ]:
s = float(input("Enter your first number: "))
t = float(input("Enter your second number: "))
if s>t:
  print("s is greater than t")
elif s==t:
  print("s and t are equal")
else:
  print("t is greater than s")

Enter your first number: 23.0067
Enter your second number: 87.123
t is greater than s

In [ ]:
s = float(input("Enter your first number: "))
t = float(input("Enter your second number: "))
if s>t:
  print("s is greater than t")
elif s==t:
  print("s and t are equal")
else:
  print("t is greater than s")

Enter your first number: 14.0081
Enter your second number: 14.0081
s and t are equal

In [ ]:
a=1
b=5
if a==b:
  print("Equal")
elif a>b:
  print("A")
else:
    print("B")
print("not in if")

B
not in if

In [ ]:
a=10
b=5
if a==b:
  print("Equal")
elif a>b:
  print("A")
else:
    print("B")
print("not in if")

A
not in if

In [ ]:
a=10
b=10
if a==b:
  print("Equal")
elif a>b:
  print("A")
else:
    print("B")
print("not in if")

Equal
not in if

In [ ]:
a = int(input("Enter Marks :"))
if a>=80:
    print("A+ Grade")
elif (a<80) and (a>=75):
    print("A Grade")
elif (a<75) and (a>=70):
    print("A- Grade")
elif (a<70) and (a>=65):
    print("B+ Grade")
elif (a<65) and (a>=60):
    print("B Grade")
elif (a<60) and (a>=55):
    print("B- Grade")
elif (a<55) and (a>=50):
    print("C+ Grade")
elif (a<50) and (a>=45):
    print("C Grade")
elif (a<45) and (a>=40):
    print("D Grade")
else:
     print(" F Grade")

Enter Marks :30
 F Grade

In [ ]:
a = int(input("Enter Marks :"))
if a>=80:
    print("A+ Grade")
elif (a<80) and (a>=75):
    print("A Grade")
elif (a<75) and (a>=70):
    print("A- Grade")
elif (a<70) and (a>=65):
    print("B+ Grade")
elif (a<65) and (a>=60):
    print("B Grade")
elif (a<60) and (a>=55):
    print("B- Grade")
elif (a<55) and (a>=50):
    print("C+ Grade")
elif (a<50) and (a>=45):
    print("C Grade")
elif (a<45) and (a>=40):
    print("D Grade")
else:
     print(" F Grade")

Enter Marks :72
A- Grade

In [ ]:
n =5
if 5>12:
  print(">12")
elif not(n>12):
  print("Else part")

Else part

In [ ]:
n =15
if 15>12:
  print(">12")
elif not(n>12):
  print("Else part")

>12

Nested If-n else:

In [ ]:
x = int(input("Enter your number:"))
if x>10:
  print("Your number is above ten,")
if x>20:
  print("and also above 20!")
else:
  print("but not above 20.")

Enter your number:12
Your number is above ten,
but not above 20.

In [ ]:
x = int(input("Enter your number:"))
if x>10:
  print("Your number is above ten,")
if x>20:
  print("and also above 20!")
else:
  print("but not above 20.")

Enter your number:25
Your number is above ten,
and also above 20!

In [ ]:
x = int(input("Enter your number:"))
if x>10:
  print("Your number is above ten,")
if x>20:
  print("and also above 20!")
else:
  print("but not above 20.")

Enter your number:6
but not above 20.

In [ ]:
k = int(input())
if k>15:
  print(">15")
  print("Inside the top if")
  if k>35:
    print(">35")
    print("Inside the nested if")
  else:
      print("<=35")
      print("Inside the else part of nested if")

22
>15
Inside the top if
<=35
Inside the else part of nested if

In [ ]:
k = int(input())
if k>15:
  print(">15")
  print("Inside the top if")
  if k>35:
    print(">35")
    print("Inside the nested if")
  else:
      print("<=35")
      print("Inside the else part of nested if")

47
>15
Inside the top if
>35
Inside the nested if

In [ ]:
k = int(input())
if k>15:
  print(">15")
  print("Inside the top if")
  if k>35:
    print(">35")
    print("Inside the nested if")
  else:
      print("<=35")
      print("Inside the else part of nested if")
print("Outside all ifs")

12
Outside all ifs

In [ ]:
k = int(input())
if k>15:
   print(">15")
   print("Inside the top if")
   if k>35:
      print(">35")
      print("Inside the nested if")
      if k>25:
        print(">25")
        print("Inside the nested if of nested if")
      else:
           print("<=20")
           print("Inside the else part of nested if of nested if")
   else:
        print("<=35")
        print("Inside the else part of nested if")
print("Outside all ifs")

3
Outside all ifs

In [ ]:
k = int(input())
if k>15:
   print(">15")
   print("Inside the top if")
   if k>35:
      print(">35")
      print("Inside the nested if")
      if k>25:
        print(">25")
        print("Inside the nested if of nested if")
      else:
           print("<=20")
           print("Inside the else part of nested if of nested if")
   else:
        print("<=35")
        print("Inside the else part of nested if")
print("Outside all ifs")

50
>15
Inside the top if
>35
Inside the nested if
>25
Inside the nested if of nested if
Outside all ifs

In [ ]:
k = int(input())
if k>15:
   print(">15")
   print("Inside the top if")
   if k>35:
      print(">35")
      print("Inside the nested if")
      if k>25:
        print(">25")
        print("Inside the nested if of nested if")
      else:
           print("<=20")
           print("Inside the else part of nested if of nested if")
   else:
        print("<=35")
        print("Inside the else part of nested if")
print("Outside all ifs")

17
>15
Inside the top if
<=35
Inside the else part of nested if
Outside all ifs

In [ ]:
x = float(input("Enter a real number:"))
y = round(x)
if y>x:
  intportion =y-1
else:
     intportion =y
print(intportion)

Enter a real number:9.491823
9

In [ ]:
x = float(input("Enter a real number:"))

y = round(x)
if y>x:
  intportion =y-1
else:
     intportion =y
print(intportion)

Enter a real number:12.587912
12

In [ ]:
x = float(input("Enter a real number:"))
y = round(x)
if x>0:
    if y>x:
      intportion =y-1
    else:
       intportion =y

else:
     if y<x:
         intportion = y+1
     else:
        intportion = y
print(intportion)

Enter a real number:10.95682
10

In [ ]:
x = float(input("Enter a real number:"))
y = round(x)
if x>0:
    if y>x:
      intportion =y-1
    else:
       intportion =y

else:
     if y<x:
         intportion = y+1
     else:
        intportion = y
print(intportion)

Enter a real number:-6.07319
-6

In [ ]:
x = float(input("Enter a real number:"))
y = round(x)
if x>0:
    if y>x:
      intportion =y-1
    else:
       intportion =y

else:
     if y<x:
         intportion = y+1
     else:
        intportion = y
if intportion%2 ==0:
    print("Even")
else:
    print("Odd")

Enter a real number:72.21
Even

In [ ]:
x = float(input("Enter a real number:"))
y = round(x)
if x>0:
    if y>x:
      intportion =y-1
    else:
       intportion =y

else:
     if y<x:
         intportion = y+1
     else:
        intportion = y
print(intportion)
if intportion%2 ==0:
    print("Even")
else:
    print("Odd")

Enter a real number:72.21
72
Even

In [ ]:
x = float(input("Enter a real number:"))
y = round(x)
if x>0:
    if y>x:
      intportion =y-1
    else:
       intportion =y

else:
     if y<x:
         intportion = y+1
     else:
        intportion = y
print(intportion)
if intportion%2 ==0:
    print("Even")
else:
    print("Odd")

Enter a real number:-51.92
-51
Odd

# ***Loops:***

In [ ]:
n = int(input('Max iterations:'))
i =1
while i < n:
  print(i)
  i+=1
print('done')

In [ ]:
n = int(input())
i =1
while (i<n):
  print(i**2)
  print("This is iteration number : ",i)
  i+=1
print("Loop done")

In [ ]:
n = int(input('Max iterations:'))
i =1
while i < n:
    if i%2==0:
      print(i)
    else:
         pass
    i+=1
print('done')

In [ ]:
i =1
while True:
  if i%17==0:
    print('break')
    break
  else:
       i+=1
       continue
  print('I am inside the loop')
print('done')

In [ ]:
m = 15 
i = 1
while True:
    if i%11 !=0:
      print("Inside if")
      i+=1
      continue
    print("something")
    print("somethingelse")
    break
print("done")

In [ ]:
m = 15 
i = 1
while True:
    if i%4 !=0:
      print("Inside if")
      i+=1
      continue
    print("something")
    print("somethingelse")
    break
print("done")

In [ ]:
L = []
for i in range(10):
  print(i+1)
  L.append(i**2)
print(L)

In [ ]:
L = []
for i in range(0,10,2):
  print(i)
  L.append(i**2)
print(L)

In [ ]:
s = { "apple", 4.9,"cherry"}
for x in s:
  print(x)
else:
     print('Loop completes its iterations')
print("outside the loop")

In [ ]:
s = { "apple", 4.9,"cherry"}
i =1
for x in s:
  print(x)
  i+=1
  if i==3:
    break
  else:
    pass
else:
     print('Loop terminate with success')
print("outside the loop")

In [ ]:
D = {"apple":44,"cherry":"game"}
for x in D:
  print(x,D[x])

In [ ]:
D = {"k":10, "M":"cghit", "R":-293}
for x in D:
  print(x,D[x])

List order in control flow:

In [ ]:
L = [1,2,3,6,-12,15,9,3,4,5,6,7,-10]
m = L[0]
for i in L:
  if i<m:
    m = i
print(m)

-12

In [ ]:
L = [1,2,3,6,-12,15,9,3,4,5,6,7,-10]
for j in range(len(l)):
m = L[j]
idx = j
c =j
for i in L:
  if i<m:
    m = i
    idx =c
  c+=1
print(idx,m)

4 -12

In [12]:
L = [1,2,3,6,-12,15,9,3,4,5,6,7,-10]
for j in range(len(L)):
    m = L[j]
    idx = j
    c =j
    for i in range(j,len(L)):
        if L[i]<m:
            m = L[i]
            idx =c
        c+=1
    tmp = L[j] 
    L[j] = m
    L[idx] = tmp
print(L)

[-12, -10, 1, 2, 3, 3, 4, 5, 6, 6, 7, 9, 15]

In [2]:
L = [1,2,3,6,-12,15,9,3,4,5,6,7,-10]
m = L[0]
idx = 0
c =0
for i in L:
  if i<m:
    m = i
    idx =c
  c+=1
tmp = L[0]
L[0] = m
L[idx] = tmp

In [4]:
L

[-12, 2, 3, 6, 1, 15, 9, 3, 4, 5, 6, 7, -10]